<div class="row">
    <div class="col-sm-8">
        <div class = "question_answer_sample">
            <h2>回答</h2>
            <ul>
                <li>問題１</li>
                <li>猫は英語で「cat」なので、<span>正解は「２」</span></li>
                <li>問題２</li>
                <li>犬は英語で「dog」なので、<span>正解は「１」</span></li>
                <li>問題３</li>
                <li>虎は英語で「tiger」なので、<span>正解は「３」</span></li>
                <li>問題４</li>
                <li>40は英語で「forty」なので、<span>正解は「３」</span></li>
                <li>問題５</li>
                <li>カレンダーは英語で「calendar」なので、<span>正解は「１」</span></li>
                <li>問題６</li>
                <li>明日は英語で「tomorrow」なので、<span>正解は「２」</span></li>
            </ul>
            
            <div class = "recommendation card">
                <span style="font-weight: bold;">新規登録すれば、問題数も増え、より充実した問題に答えられる！<br>
                登録はたったの１分！さぁ、今すぐ簡単登録を！</span>
                <div class = "question_button">
                    <%= link_to "今すぐ新規登録！", signup_path, class: "btn btn-primary"%>
                </div>
            </div>
        </div>
    </div>
    
    <div class = "col-sm-4">
        <%= render 'layouts/asidebar' %>
    </div>
</div>