<div class="row">
    <div class="col-sm-8">
        <div class = "question_answer">
            <h2>回答</h2>
            <ul>
                <li>問題１</li>
                <li>猫は英語で「cat」なので、正解は「２」</li>
                <li>問題２</li>
                <li>犬は英語で「dog」なので、正解は「１」</li>
                <li>問題３</li>
                <li>虎は英語で「tiger」なので、正解は「３」</li>
            </ul>
        </div>
    </div>
    
    <div class = "col-sm-4">
        <%= render 'layouts/asidebar' %>
    </div>
</div>