<div class = "container">
    <div class = "row">
        <div class = "question_contents col-sm-8">
            <h2 style="font-size: 30px"><%= @quiz.content %></h2>
            
                <ul>
                    <li>学校は英語で？</li>
                    <ul>
                        <li>１：house</li>
                        <li>２：school</li>
                        <li>３：picture</li>
                        <li>４：lion</li>
                    </ul>
                </ul>
                
                <ul>
                    <li>家は英語で？</li>
                    <ul>
                        <li>１：house</li>
                        <li>２：school</li>
                        <li>３：picture</li>
                        <li>４：lion</li>
                    </ul>
                </ul>
                
                <ul>
                    <li>写真は英語で？</li>
                    <ul>
                        <li>１：house</li>
                        <li>２：school</li>
                        <li>３：picture</li>
                        <li>４：lion</li>
                    </ul>
                </ul>
                
            
            <div class = "answer_button">
                <%= link_to "回答", samples_sample_answer_path, class: "btn btn-primary" %>
            </div>
        </div>
        
        <div class = "sub col-sm-4">
            <%= render 'layouts/asidebar' %>
        </div>
    </div>
</div>