<div class = "container">
    <div class = "row">
        <div class = "question_contents_sample col-sm-8">
            <h2><%= @quiz.content %></h2>
            <div class = "question_content">
                <ul>
                    <li>学校は英語で？</li>
                    <ul>
                        <li>１：house</li>
                        <li>２：school</li>
                        <li>３：picture</li>
                        <li>４：lion</li>
                    </ul>
                </ul>
                
                <ul>
                    <li>家は英語で？</li>
                    <ul>
                        <li>１：house</li>
                        <li>２：school</li>
                        <li>３：picture</li>
                        <li>４：lion</li>
                    </ul>
                </ul>
                
                <ul>
                    <li>写真は英語で？</li>
                    <ul>
                        <li>１：house</li>
                        <li>２：school</li>
                        <li>３：picture</li>
                        <li>４：lion</li>
                    </ul>
                </ul>
                
                <ul>
                    <li>４０は英語で？</li>
                    <ul>
                        <li>１：forteen</li>
                        <li>２：fourty</li>
                        <li>３：forty</li>
                        <li>４：fourteen</li>
                    </ul>
                </ul>
                
                <ul>
                    <li>カレンダーは英語で？</li>
                    <ul>
                        <li>１：calendar</li>
                        <li>２：calender</li>
                        <li>３：carender</li>
                        <li>４：carendar</li>
                    </ul>
                </ul>
                
                <ul>
                    <li>明日は英語で？</li>
                    <ul>
                        <li>１：tommorrow</li>
                        <li>２：tomorrow</li>
                        <li>３：tommorow</li>
                        <li>４：tomorow</li>
                    </ul>
                </ul>
                </div>
            <div class = "answer_button">
                <%= link_to "回答", samples_sample_answer_path, class: "btn btn-primary" %>
            </div>
        </div>
        
        <div class = "sub col-sm-4">
            <%= render 'layouts/asidebar' %>
        </div>
    </div>
</div>