<div class = "container">
    <div class = "row">
        <div class = "site col-md-8">
            <h2>学習サイト</h2>
            
            <div class = "main_contents_reference">
                <div class = "reference_contents_1">
                    <div class = "reference_image">
                        <a href="http://gogengo.me/" target="_blank"><img class="image" src="/assets/fea1a1912421657f2c10b3e6ddc70ffd.png" alt="First slide"></a>
                    </div>
                    
                    <div class = "reference_explanation">
                        <h3>Gogengo</h3>
                        <p>こちらは、英単語について調べるためのサイトではありますが、他と異なるのは、英単語の「語源」を調べることができます。
                        単語を覚える際にそのまま覚えるのももちろん手ではありますが、その言葉の語源を知ることでより意味が理解しやすくなるはずです。</p>
                    </div>
                </div>
                
                <div class = "reference_contents_2">
                    <div class = "reference_explanation explanation_2">
                        <h3>BBC Learning English</h3>
                        <p>BBCのニュースやラジオを見たり、聞いて英語を練習することができます。難易度も多種多様で、字幕付きで実践的な英語を身に着けることができます。
                        また、単語や文法、発音や子供向けまで様々なコンテンツがあり、とても人気となっています。</p>
                    </div>
                    
                    <div class = "reference_image">
                        <a href="https://www.bbc.co.uk/learningenglish/" target="_blank"><img class="image" src="/assets/228f9a9b810b24386d84a2711231750e.jpg" alt="First slide"></a>
                    </div>
                </div>
                
                <div class = "reference_contents_1">
                    <div class = "reference_image">
                        <a href="https://www.ted.com/" target="_blank"><img class="image" src="/assets/c70a51bc98dbfe965ca4e5f87079529c.jpg" alt="First slide"></a>
                    </div>
                    
                    <div class = "reference_explanation">
                        <h3>TED</h3>
                        <p>おそらく英語学習者なら国を問わず、だれもが知っているといっていいほど認知されたプレゼンテーションプログラムです。
                        英語学習のみならず、あらゆる分野の知識まで同時に学べ、またプレゼンテーションは何たるかといったことまで学習することができます。</p>
                    </div>
                </div>
                
                <div class = "reference_contents_2">
                    <div class = "reference_explanation explanation_2">
                        <h3>News in Levels</h3>
                        <p>様々なニュースがレベル別に分けられ、その中から自分に合ったぴったりのモノを選び勉強することができます。
                        わからない単語があってもしっかり解説もついているので、初心者の方も安心して学習することができます。</p>
                    </div>
                    
                    <div class = "reference_image">
                        <a href="https://www.newsinlevels.com/" target="_blank"><img class="image" src="/assets/7da8c553669f400331ee81e7514e7ac2.jpg" alt="First slide"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-md-4">
            <%= render 'layouts/asidebar' %>
        </div>
    </div>
</div>