<div class = "container">
    <div class = "row">
        <div class = "reference col-md-8">
            <h2>学習サイト</h2>
            
            <div class = "main_contents_reference">
                <div class = "reference_contents_1">
                    <div class = "reference_image">
                        <img class="image" src="/assets/person-smartphone-office-table.jpg" alt="First slide">
                    </div>
                    
                    <div class = "reference_explanation">
                        <p>explanationexplanationex　planationexplanatione　xplanationexplanatione　xplanationexplanatione　xplanation</p>
                    </div>
                </div>
                
                <div class = "reference_contents_2">
                    <div class = "reference_explanation explanation_2">
                        <p>explanationexplanationex　planationexplanatione　xplanationexplanatione　xplanationexplanatione　xplanation</p>
                    </div>
                    
                    <div class = "reference_image">
                        <img class="image" src="/assets/person-smartphone-office-table.jpg" alt="First slide">
                    </div>
                </div>
                
                <div class = "reference_contents_1">
                    <div class = "reference_image">
                        <img class="image" src="/assets/person-smartphone-office-table.jpg" alt="First slide">
                    </div>
                    
                    <div class = "reference_explanation">
                        <p>explanationexplanationex　planationexplanatione　xplanationexplanatione　xplanationexplanatione　xplanation</p>
                    </div>
                </div>
                
                <div class = "reference_contents_2">
                    <div class = "reference_explanation explanation_2">
                        <p>explanationexplanationex　planationexplanatione　xplanationexplanatione　xplanationexplanatione　xplanation</p>
                    </div>
                    
                    <div class = "reference_image">
                        <img class="image" src="/assets/person-smartphone-office-table.jpg" alt="First slide">
                    </div>
                </div>
            </div>
        </div>
        <div class = "col-md-4">
            <%= render 'layouts/asidebar' %>
        </div>
    </div>
</div>