<div class = "about">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-8 main_about">
                <h2>Relish English</h2>
                <p>ここ最近で「グローバル」ということをよく耳にするようになったと感じられることは
                ありませんか？そして、ますます今後もその勢いは増していくと言われています。しかし、
                英語を勉強するとなると、膨大なお金がかかってしまいます。
                Relish Englishでは、そういった方々のニーズに応えるために作られました。
                皆さんもRelish Englishを活用して、これからのグローバル時代を一緒に楽しみましょう。</p>
                
                <h3>無料で英語学習！</h3>
                <p>語学の勉強には、その高い費用がつきものです。英語のための学習塾に通われたり、
                特に留学ともなると驚くほどの費用がかかってしまいます。Relish Englishは、そんなお金もなければ、
                時間もない方々のニーズに応えることができます。全ての問題に無料で気軽に挑戦することができ、
                学習のためのお金や時間がない方々にぴったりです。</p>
                
                <h3>実践的な問題が多数！</h3>
                <p>Relish Englishでは、下は小中学生レベルの初級問題から上はビジネスレベルの上級まで
                様々な問題にチャレンジすることができます。英語を勉強したてで、単語があまりわからなくても大丈夫！
                自分に合ったぴったりの問題に気軽に挑戦することができます。また、わかりやすい解説付きで
                より一層英語力を磨くことができます。</p>
                
                <h3>試験ごとの参考資料が見つかる！</h3>
                <p>英語の国際資格はたくさんあり、どの試験にはどの教材があっているのかわからないという
                方も多くいらっしゃることでしょう。当サイトでは、そういった問題を解消すべく、
                それぞれの試験に合ったぴったりの参考資料を紹介しており、自分にマッチした資料を簡単に見つけるができます。</p>
                
                <h3>おすすめの学習サイトが見つかる！</h3>
                <p>英語学習には、参考資料のみならず、サイトに関しても数多く存在し、どれがいいのか
                悩んでしまうことがあります。当サイトでは、様々な英語学習におすすめのオンラインサイトも紹介しており、
                簡単に見つけることができます。</p>
            </div>
            
            <div class = "col-md-4">
                <%= render 'layouts/asidebar' %>
            </div>
        </div>
    </div>
</div>

<script>
</script>
