<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="image d-block w-100" src="<%= asset_path "person-smartphone-office-table.jpg" %>" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="image d-block w-100" src="<%= asset_path "person-smartphone-office-table.jpg" %>" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="image d-block w-100" src="<%= asset_path "person-smartphone-office-table.jpg" %>" alt="First slide">
                </div>
              </div>
            </div>
            
            <div class = "main_title">
                <h2>Relish Englishとは？</h2>
                <p>これからのグローバル時代に欠かせない「英語力」。みなさんは、どうやって勉強していますか？
                Relish Englishでは、これから英語の資格を取ろうと思っている人が勉強するための学習サイトです。
                皆さんもRelish Englishを使って一緒にグローバルな世界を楽しみましょう！</p>
            </div>
            
            <div class = "merit_registration">
                <h2>登録をすると</h2>
                <div class = "container">
                    <div class = "row">
                        <div class = "col-md-6 left">
                            <div class = "first">
                                <img class="u-max-full-width image_merit" src="assets/person-smartphone-office-table.jpg" alt="First slide">
                                <h3>無料で英語学習</h3>
                                <p>英語を勉強するとなると、色々と費用がかかってしまいますが、Relish Englishは、全て無料で問題にチャレンジすることができます。</p>
                            </div>
                            
                            <div class = "second">
                                <img class="u-max-full-width image_merit" src="assets/person-smartphone-office-table.jpg" alt="First slide">
                                <h3>実践的な問題に挑戦できる</h3>
                                <p>問題のレベルも初級から上級者向けまでより多種多様で自分に合った問題に無理なく挑戦することができます。</p>
                            </div>
                        </div>
                        
                        <div class = "col-md-6 right">
                            <div class = "first">
                                <img class="u-max-full-width image_merit" src="assets/person-smartphone-office-table.jpg" alt="First slide">
                                <h3>自分に合った資料が見つかる</h3>
                                <p>英語には、様々な国際資格が存在しますが、Relish Englishでは、それぞれの資格に合った参考資料をご覧になることができます。</p>
                            </div>
                            
                            <div class = "second">
                                <img class="u-max-full-width image_merit" src="assets/person-smartphone-office-table.jpg" alt="First slide">
                                <h3>おすすめサイトが見つかる</h3>
                                <p>また、英語学習にぴったりの様々なおすすめサイトを簡単に見つけることができます。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class = "easy_registration">
                <h2>登録は簡単！</h2>
                <div class = "container">
                    <div class = "row">
                        <div class = "col-md-6 image_side">
                            <img class="u-max-full-width image" src="assets/person-smartphone-office-table.jpg" alt="First slide">
                        </div>
                        
                        <div class = "col-md-6 explanation_side">
                            <p>登録時間はたったの<strong>３０秒！</strong><br>
                            「新規登録ページ」より登録することができます。<br>
                            登録時には、「ログインユーザ名」及び「ログインパスワード」を入力していただくようになります。<br>
                            登録してからすぐに問題にも挑戦することができます。<br><br><br>
                            
                            <span>＊なお、パスワードに関しましては、第三者に推測されにくいものに設定され、定期的な変更をお願い致します。</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>