<div class = "question_sample">
    <div class = "container">
        <div class = "row">
            <div class = "main_contents_question_sample col-md-8">
                <h2>問題を解く</h2>
                
                <ul>
                    <li><%= link_to "初級問題１", toppages_sample_1_path %></li>
                    <li><%= link_to "初級問題２", toppages_sample_2_path %></li>
                </ul>
            </div>
            
            <div class = "sub_area col-md-4">
                <%= render 'layouts/asidebar' %>
            </div>
        </div>
    </div>
</div>