<div class = "sample_1">
    <div class ="container">
        <div class = "row">
            <div class = "main_contents_sample_1 col-md-8">
                
            </div>
            
            <div class = "sub_area col-md-4">
                <%= render 'layouts/asidebar' %>
            </div>
        </div>
    </div>
</div>
