// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question_answer{
    h2{
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
    }
    
    ul{
        margin-top: 50px;
        @media(max-width: 549px){
            padding-right: 30px;
        }
        li{
            list-style: none;
            margin-top: 30px;
            letter-spacing: 5px;
            @media(max-width: 549px){
                font-size: 15px;
            }
        }
        
        .question_sentence{
            margin-top: 80px;
        }
    }
    
    .back_to_index{
        margin-top: 40px;
        margin-left: 300px;
        cursor: pointer;
        @media(max-width: 549px){
            margin-left: 130px;
        }
    }
}