// Place all the styles related to the sample controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sample_question{
    margin-top: 30px;
    h2{
        border-bottom: 1px solid #797979;
        @media(max-width: 549px){
            font-size: 25px;
        }
    }
    
    ul{
        margin-top: 40px;
        li{
            font-size: 20px;
            list-style: none;
            .sample_question_link{
                text-decoration: none;
            }
        }
    }
}

.question_contents_sample{
    @media(max-width: 549px){
        padding-left: 35px;
    }
    h2{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        @media(max-width: 549px){
            font-size: 20px;
        }
    }
    .question_content{
        margin-left: 150px;
        margin-top: 40px;
        @media(max-width: 768px){
            margin-left: 90px;
        }
        @media(max-width: 549px){
            margin-left: 20px;
        }
        ul{
            li{
                list-style: none;
                margin-top: 15px;
                font-size: 20px;
                @media(max-width: 549px){
                    font-size: 14px;
                }
            }
        }
    }
     .answer_button{
            margin-left: 250px;
            margin-top: 50px;
            @media(max-width: 549px){
                margin-left: 110px;
            }
        }
}

.question_answer_sample{
    ul{
        li{
            font-weight: bold;
            span{
                color: red;
            }
        }
    }
    
    .recommendation{
        padding: 30px;
        span{
            margin-bottom: 20px;
        }
    }
}