// Place all the styles related to the upper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.upper_question{
   margin-top: 30px;
    h2{
        border-bottom: 1px solid #797979;
        margin-left: 50px;
        padding: 0 50px 20px 50px;
    }
    
    ul{
        margin-top: 40px;
        li{
            font-size: 20px;
            list-style: none;
            margin-left: 70px;
        }
    }
}

.question_contents{
    h2{
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        margin-top: 40px;
        @media(max-width: 549px){
            font-size: 25px;
        }
    }
    .upper_question_content{
        margin-left: 150px;
        @media(max-width: 768px){
            margin-left: 0;
        }
        ul{
            margin-top: 30px;
            @media(max-width: 549px){
                padding-left: 8px;
            }
            li{
                list-style: none;
                font-size: 20px;
                letter-spacing: 5px;
                @media(max-width: 549px){
                    font-size: 11px;
                }
            }
        }
    }
    .answer_button{
        margin-top: 40px;
        margin-left: 400px;
        border: none;
        cursor: pointer;
        font-size: 30px;
        padding: 10px 30px;
        @media(max-width: 768px){
            margin-left: 270px;
        }
        @media(max-width: 549px){
            margin-left: 120px;
            font-size: 20px;
        }
    }
}