<div class = "container">
    <div class = "row">
        <div class = "beginner_question">
            <h2>初級問題　一覧</h2>
            <% @quizzes.each do |quiz| %>
                <ul>
                    <li><%= link_to quiz.content, beginner_path(quiz.id) %></li>
                </ul>
            <% end %>
        </div>
    </div>
</div>