<div class = "question_answer">
    <h2><%= @quiz.content%>回答</h2>
    <ul>
        <li>問題１</li>
        <li></li>
        <li>問題２</li>
        <li></li>
        <li>問題３</li>
        <li></li>
    </ul>
</div>
